@media screen and (max-width: 540px) {
    .detail-article .detail-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .article-detail .article-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .article-detail .article-author {
        font-size: 14px;
    }

    .article-detail .article-date {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .article-detail .article-body {
        font-size: 15px;
    }
}