/**
 * welcome-content
 */

.welcome-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.content-description .title {
  color: #008080;
  margin-block: 1rem;
  font-size: 32px;
}

.content-description p {
  line-height: 1.7rem;
}

.content-description a {
  padding: 0.8rem 2.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-block-start: 1rem;
  text-decoration: none;
  background-color: #008080;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.content-description a i {
  margin-left: 10px;
}

.content-description a:hover {
  color: #008080;
  background-color: white;
  border-color: #008080;
}

/**
 * cigarette-content
 */

#cigarette {
  background-color: #008080;
}

.cigarette-content {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.cigarette-content h1 {
  margin-bottom: 2rem;
  font-size: 28px;
}

.cigarette-content .content-box {
  display: flex;
  justify-content: center;
}

.cigarette-content .content-box img {
  max-width: 400px;
}

.cigarette-content .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 16px;
}

.cigarette-content .card-container .card {
  background-color: #008080;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100px;
}

.cigarette-content .card-container .card:hover {
  transform: translateY(-10px);
}

.cigarette-content .card-container .card img {
  width: 100%;
  height: auto;
}

.cigarette-content .card-container .card .container {
  padding: 16px;
}

.cigarette-content .card-container .container h3 {
  margin: 0;
}

/**
 * smoking-disease
 */

.smoking-disease {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.smoking-disease h1 {
  font-size: 28px;
  color: #008080;
}

.smoking-disease .disease-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.smoking-disease .disease-container:hover {
  transform: translateY(-10px);
}

.smoking-disease .disease-container .disease-title {
  background-color: #008080;
  color: white;
  border-radius: 20px;
}

.smoking-disease .disease-container .disease-body {
  text-align: left;
  padding-left: 20px;
}

/**
 * benefits-content
 */

#benefits {
  background-color: #008080;
}

.benefits-content {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.benefits-content .benefits-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.benefits-content .benefits-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.benefits-content .card-benefit {
  background: white;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  text-align: center;
  color: #008080;
  transition: all 0.3s ease;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.benefits-content .card-benefit:hover {
  transform: translateY(-10px);
}

.benefit-conclusion {
  margin-top: 40px;
}

/**
 * comments-container
 */

.comments-container {
  max-width: 800px;
  margin: 0 auto;
}

.comments-container .commentbox {
  display: flex;
  margin-bottom: 2rem;
}

.comments-container .commentbox img,
.comment-list img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 2rem;
}

.form-content {
  flex-grow: 1;
}

.comment-form input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid black;
}

.comment-form textarea {
  height: 100px;
}

.comment-form button {
  background-color: #008080;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 1rem;
  cursor: pointer;
}

.comment-list {
  display: flex;
}
