@media screen and (max-width: 1024px) {
  .menu li {
    margin-right: 5px;
  }
  .survey-description .content-one{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar .container .menu {
    display: none;
  }
  .navbar .container .menu.aktif {
    display: block;
    position: absolute;
    top: 64px;
    background: #212121;
    padding: 10px 20px;
    right: 0;
    left: 0;
  }
  .navbar .container .menu.aktif li a {
    padding: 10px;
    display: block !important;
  }
  .tombol {
    display: block;
  }
  .welcome-content {
    display: flex;
    flex-direction: column;
  }
  .form-section form {
      width: 100%;
      max-width: 400px;
      min-width: 300px;
  }

  .benefits-container {
    grid-template-columns: 1fr;
  }
  /* Footer responsive styles for 768px */
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-left, .footer-center, .footer-right {
    min-width: 100%;
    text-align: center;
  }
  .footer-left img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-links li {
    margin: 10px 0;
  }
  .footer-icons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 10px 20px;
  }
  .logo {
    font-size: 12pt;
  }
  .menu.aktif {
    top: 54px;
  }
  .form-section form {
      width: 100%;
      max-width: 270px;
      min-width: 200px;
  }
  /* Footer responsive styles */
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
  .footer-left, .footer-center, .footer-right {
    min-width: 100%;
    text-align: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-links li {
    margin: 10px 0;
  }
  .footer-icons {
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    font-size: 10pt;
  }
  .tombol {
    font-size: 12pt;
  }
  .form-section form {
      width: 100%;
      max-width: 220px;
      min-width: 200px;
  }
  /* Footer responsive styles for small screens */
  .footer-links li {
    margin: 5px 0;
  }
  .footer-icons i {
    font-size: 20px;
  }
}
