/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Survey Description Styling */
.survey-description {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.content-one {
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

#p1 {
    text-align: center;
    font-size: 20px;
    max-width: 70ch;
    margin: 50px auto 20px;
    word-wrap: break-word;
    color: black;
}

#hasil {
    margin-top: 50px;
}

/* Button Styling */
.form-section button {
    background-color: #008080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
}

.form-section button:hover {
    transform: scale(1.05);
}

.form-section button:active {
    background-color: #3e8e41;
}

/* Form Section Styling */
.form-section {
    text-align: center;
    
}

.form-section form {
    display: inline-block;
    text-align: left;
    width: 700px; /* Set a fixed width */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    margin: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formPerokok form p {
    text-align: left;
}

#formPerokok form button {
    text-align: center;
    margin: 10px auto; /* Center the buttons horizontally */
}

/**
 * benefits-content
 */

 #benefits-survey {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .surveys-content {
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .surveys-content .surveys-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .surveys-title p {
    margin-top: 20px;
  }
  
  .surveys-content .surveys-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }
  
  .surveys-content .card-survey {
    background: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    text-align: center;
    color: white;
    background-color: #008080;
    transition: all 0.3s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  
  .surveys-content .card-survey:hover {
    transform: translateY(-10px);
  }
  
  .surveys-content .user-picture img {
    max-width: 120px;
    height: auto;
    text-align: center;
    margin-top: 10px;
  }

/* /progress bar/ */

.progress-container {
  width: 50%;
  background-color: #f3f3f3;
  border-radius: 25px;
  margin: 10px auto; /* Mengatur margin secara otomatis untuk memposisikan di tengah */
  padding: 5px; /* Memberi sedikit ruang di dalam container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk tampilan yang lebih baik */
}

.progress-bar {
  height: 30px;
  border-radius: 25px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold; /* Menambahkan font tebal untuk teks di dalam progress bar */
  transition: width 0.5s; /* Menambahkan transisi untuk animasi yang lebih halus */
}

.low {
  background-color: #4caf50; /* Hijau */
}

.medium {
  background-color: #ff9800; /* Oranye */
}

.high {
  background-color: #f44336; /* Merah */
}